In [1]:
import os

import pandas as pd

os.chdir("..")

In [2]:
df = pd.read_excel("data/HR_dataset.xlsx", engine="openpyxl")
df.head(10)

,사번,이름,채용경로,성별,나이,근속기간,출신대학,대학구분,학점,학력,...,사업장위치,본인.인지능력,본인.인내력,본인.실행력,매니저.비전,매니저.소통,매니저.실행력,직원만족도,매출액.천원,불량건수
0,4006,한경택,공채,남,39,19.5,경북대학교,국립,76.22,학사,...,일본,80,79,94,92,73,39,67.4,NaN,9.0
1,3337,임경화,공채,여,33,17.9,MICHIGAN STATE UNIVERSITY,해외,88.25,석사,...,서울(본사),74,99,82,0,10,32,35.1,163680.0,NaN
2,2543,이규경,산학,남,46,27.0,전남대학교,국립,87.67,학사,...,베트남,97,67,86,26,32,48,48.2,NaN,17.0
3,3999,윤규만,공채,남,39,19.9,인하대학교,기타,86.67,석사,...,중국,78,94,87,34,54,37,55.0,88466.0,NaN
4,1365,주강필,공채,남,32,13.9,서울대학교,top5,80.70,학사,...,일본,99,87,89,81,11,42,46.4,NaN,NaN
5,1291,최규백,공채,남,36,18.4,홍익대학교,기타,73.56,고졸,...,대전(연구소),73,79,93,26,17,14,40.3,NaN,NaN
6,5531,정경선,인턴,여,28,13.7,INDIANA UNIVERSITY-PURDUE UNIVERSITY FORT WAYNE,수도권,97.11,석사,...,대전(연구소),77,71,84,36,17,4,42.4,NaN,NaN
7,2767,조고운,산학,여,45,30.4,경북대학교,국립,68.22,박사,...,대전(연구소),92,100,77,11,12,11,39.4,NaN,10.0
8,2815,정경규,인턴,남,41,24.3,고려대학교,top5,86.00,석사,...,서울(본사),86,92,91,29,21,14,44.4,NaN,12.0
9,2884,윤가선,공채,여,44,29.2,서울대학교,top5,80.23,학사,...,베트남,88,97,80,93,74,47,67.1,NaN,10.0